body {
  font-family: rubik, helvetica, arial, sans-serif;
  background-color: #e1e3ed;
}
.dark-mode {
  background: #111;
  background-color: #0c0f1d;
  color: #fff;
}

#home{
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #1b1d2a;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 7px;
}
#home svg { fill: white !important; }
#themeToggle {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #1b1d2a;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 7px;
}

#themeToggle svg { fill: white !important; }
main{
    display: block;
    overflow: hidden;
    padding: 15px;
    max-width: 1000px;
    background-color: white;
    margin: 0px auto;
    border-radius: 12px;
    padding-bottom: 35px;
}
main img{
  border-radius: 12px;
}
.dark-mode main{
  background-color: #1b1d2a;
}
h1{border-bottom: solid #e1e3ed;
font-size: 50px;
}
.dark-mode h1{border-bottom: solid #2b2e41;}
p{font-size: 18px;  padding-left: 10px;
    padding-right: 10px;}
.dark-mode p{color: #bfc2d5;}
.dark-mode b ,.dark-mode strong{ color: white;}


body{
  background-color: #fff;
}

.dark-mode{
  background-color: #1b1d2a;
}
